# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore

# Python pycache:
__pycache__/
# Ignored by the build system
/setup.cfg

# Misc
.DS_Store
*.csv

# Node packages
node_modules/

# Test coverage
coverage/

# Archived files
previous_versions/
ignore/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Other
.git
.gitignore
__pycache__/
/setup.cfg
docker-compose.yml
docker-compose-deploy.yml
Dockerfile
Makefile