:root {
  --gradient: linear-gradient(135deg, #5151e5 10%, #72edf2 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  line-height: 1.25em;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  clear:both;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../images/nepal-2184940.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  width: 75%;
  border-radius: 25px;
  box-shadow: 0 20px 70px 0px rgb(0, 0, 0, 0.8);
  color: #ffffff;
  margin: 20px;
  height: max-content;
}

.selected-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  border-radius: 25px;
  width: 300px;
  background-image: var(--gradient);
  transition: transform 300ms ease;
  transform: translateZ(0) scale(1.02) perspective(1000px);
}

.selected-view:hover {
  -webkit-transform: scale(1.1) perspective(2000px) rotateY(1000px);
  transform: scale(1.1) perspective(2000px) rotateY(10deg);
}

.date-dayname {
  margin: 0;
}

.location {
  display: inline-block;
  margin-top: 10px;
}

.location-icon {
  display: inline-block;
  height: 1em;
  width: auto;
  margin-right: 5px;
}

.info-container {
  color: #000;
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
}

.timesteps-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 25px;
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.35);
}

.timesteps-list > li {
  float: left;
  padding: 15px;
  cursor: pointer;
  transition: 200ms ease;
  border-radius: 10px;
}

.timesteps-list > li:hover {
  transform: scale(1.1);
  background: white;
  color: #222831;
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

.timesteps-list > li.active {
  background: white;
  color: #222831;
  border-radius: 10px;
}

.timesteps-list > li .timestep-name {
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
}

.timesteps-list > li .timestep-aqi {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
}

.location-container {
  padding: 25px 35px;
}

.location-button {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 10px;
  background-image: var(--gradient);
  color: white;
  font-weight: 700;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.location-button:hover {
  transform: scale(0.95);
}

.location-button .feather {
  height: 1em;
  width: auto;
  margin-right: 5px;
}

.location-button option {
  color: #000;
}

@media screen and (max-width: 600px) {
  .wrapper {
    height: max-content;
  }
  .container {
    width: 95%;
  }
  .content {
    flex-direction: column;
  }
  .selected-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 100%;
  }
}